name: Build and Release

on:
  release:
    types: [published]

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build

    - name: Zip build folder
      run: zip -r build.zip build/

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      with:
        files: build.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}